<!doctype html>
<html>
    <head>
        <title>Student Show Page</title>
    </head>
    <body>
        <h1> class="text_center">First Name: <%= @student.first_name %></h1>
        <h1> class="text_center">Last Name: <%= @student.last_name %></h1>

</body>
</html>

